
@{
    ViewBag.Title = "GetInfoAndStartTest";
}


@ViewBag.TTL
<h3>@ViewBag.QTL</h3>

<h2>@ViewBag.TTL.Minutes</h2>
<h2>@ViewBag.TTL.Hours</h2>
<h2>@ViewBag.TTL.Seconds</h2>

<div>Registration closes in <span id="time">@ViewBag.TTL</span> minutes!</div>


<div>
    <h4>QuestionPassingViewModel</h4>
    <hr />
       
     <div id="QText">@ViewBag.Que[0].Hint</div>

</div>

@{int idx = 0 ;}

<script>

    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                alert("EWRWER");
                timer = duration;
                idx++;
                $('#QText').text(@ViewBag.Que[idx].Hint);
            }
        }, 1000);
    }


    window.onload = function () {
        var time = ( 60 * @ViewBag.TTL.Hours + @ViewBag.TTL.Minutes) * 60 + @ViewBag.TTL.Seconds,
            display = document.querySelector('#time');
       // startTimer(time, display);
    };
</script>
@*@Html.TextBox("TestTimeLimit")*@
